# askcos 
askcos
askcos-core
askcos-base

# setup
dist 
build

# results 
results/

# large files 
*.json
!examples/amd/trees_w_info.json
!examples/button_alectinib/trees_w_info.json
!examples/button_alectinib/trees_w_info.json
!examples/garibsingh/trees_w_info.json
*.zip


# figures 
*.pdf 
*.png 


# debugging 
debug/

# secret keys 
key*

# misc 
**/__pycache__/
UNKNOWN**
*.egg-info/
*.egg
.vscode
*.log
.idea/
tmp/
