numpy
pyyaml
jupyter
cython
pillow
markdown
celery
requests
tqdm
networkx
matplotlib
pathlib 
pulp
rdkit 
scikit-learn==1.4
scikit-optimize
scipy
cairosvg
sphinx
pandas
setuptools
joblib
configargparse
seaborn 
pathos