cython
h5py
keras
pillow
markdown
celery
requests
rdchiral
tqdm
networkx
matplotlib
pathlib 
pulp
rdkit 
tensorflow
tensorflow-estimator
scikit-learn
scipy
cairosvg
sphinx
pandas
setuptools
joblib==1.1.0