cython
h5py
keras
pillow
markdown
celery
requests
rdchiral
tqdm
networkx
matplotlib
pathlib 
pulp
rdkit 
tensorflow
tensorflow-estimator
scikit-learn
scipy
cairosvg=2.4.2
sphinx
pycairo
pandas
setuptools